
.btn:hover{
    background-color: dimgrey;
    color: rgb(247, 229, 229);
    font-weight: bold;
}

hr{
    width: 70%;
    color: rgba(172, 156, 156, 0.883);
}
.special-hr{
    width: 70%;
    color: rgba(8, 0, 0, 0.904);
    border: 1px solid rgb(26, 23, 23);
    
}
.total-hr{
    width: 100%;
    color: rgba(10, 8, 8, 0.883);
}